<div class="catalogue">
  <aside class="catalogue__nav">
    <ul>
      <% site.zCategories.forEach(function(category, i){ %>
        <li><a href="#<%= category[0]%>"><%= category[0] %></a></li>
      <% }) %>
    </ul>
  </aside>
  <main class="catalogue__content">
    <ul class="catalogue-list">
      <% site.zCategories.forEach(function(category, i){ %>
        <li class="catalogue-list__item" id="<%= category[0] %>">
          <p class="catalogue-list__anchor" ><%= category[0] %></p>
          <% category[1].forEach(function(post, i){ %>
            <ul class="catalogue-list">
              <li class="catalogue-list__item">
                <a class="title" href="<%= post.permalink %>">
                  <%= post.path.split("/")[1] %>
                </a>
                <span class="update-date" title="<%= post.updated %>">
                  <%= post.updated.format('YYYY-M-D') %>
                </span>
              </li>
            </ul>
          <% }) %>
        </li>
      <% }) %>
    </ul>
  </main>
</div>
